<div class="w-full h-full flex flex-col justify-center items-center relative z-20"
    (swipeleft)="onSwipeLeft()"
    (swiperight)="onSwipeRight()"
    (swipeup)="onSwipeUp()"
    (swipedown)="onSwipeDown()"
>

  <div class="flex flex-col mb-1">
    <span class="text-indigo-500 text-4xl text-center">2048 Game</span>
  </div>
  <div class="flex flex-col mb-1">
    <span class="text-2xl text-center">Score : {{(gameStateService.score$| async)}}</span>
  </div>
  <div class="flex flex-col mb-1">
    <button class="bg-transparent hover:bg-indigo-500 text-indigo-500 font-semibold hover:text-white py-2 px-4 border border-indigo-500 hover:border-transparent rounded" (click)="resetGame()">Rest Game</button>
  </div>

  <div class="flex flex-col mb-1" *ngIf="(isNotInProgress$|async)" >
    <span class="text-2xl text-center" *ngIf="(isWon$|async)" >
      Great! You won
    </span>
    <span class="text-2xl text-center" *ngIf="!(isWon$|async)" >
      Better luck next time
    </span>
  </div>

    <div class="row grid grid-cols-4" *ngFor="let row of  (gameStateService.grid$| async)">
      <div class="col w-12 h-12 rounded flex items-center justify-center border border-black"
        *ngFor="let col of row">
        <div class="text-xl">
          {{col===-1?' ':col }}
        </div>
      </div>
    </div>
  </div>


